# Server Configuration
PORT=3000
NODE_ENV=development

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_NAME=face_attendance_dev
DB_USER=postgres
DB_PASSWORD=

# JWT Configuration
JWT_SECRET=
JWT_EXPIRES_IN=1d

# Luxand API
LUXAND_API_KEY=
LUXAND_API_URL=https://api.luxand.cloud